@charset "UTF-8";

/* id = #       --> Só pode usar uma vez.
    class = .   --> Podem ser criados vários diferentes.
*/

body {
    background-color: rgb(206, 206, 214);
    font-family: Arial, Helvetica, sans-serif;
}

#principal{
    text-align: center;
    background-color: rgb(86, 5, 110);
    color: rgb(255, 255, 255);
    text-decoration-line: underline;
}

.basico {
    background-color: white;
    text-decoration-line: underline;
}

.intermediario {
    background-color: silver;
    text-decoration-line: underline;
}

.avancado {
    background-color: red;
    text-decoration-line: underline;
}

h1{
    color: rgb(30, 30, 85);
}

h2 {
    color: rgb(93, 93, 165)
}